<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RA-API</title>
</head>
<body>
<div id="content">
    <h1 id="ra-api">RA-API</h1>
    <p>A simple API for data querying.<br>The project is deployed and hosted on Heroku.</p>
    <h2 id="usage">Usage</h2>
    <p>Main site: <code>https://ra-api.herokuapp.com/</code><br>Query Full Record By HID <code>GET
        https://ra-api.herokuapp.com/api/query/hid/&lt;hid&gt;</code></p>
    <h2 id="api-specification">API Specification</h2>
    <h3 id="query-full-record-by-hid">Query Full Record By HID</h3>
    <p>Returns the full record with the given “hid”</p>
    <p><strong>URL</strong> : <code>/api/query/hid/&lt;hid&gt;</code></p>
    <p><strong>URL Parameters</strong>: </p>
    <table>
        <thead>
        <tr>
            <th style="text-align:left">Name</th>
            <th style="text-align:left">Required</th>
            <th style="text-align:left">Description</th>
            <th style="text-align:left">Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align:left">hid</td>
            <td style="text-align:left">Required</td>
            <td style="text-align:left">The <em>hid</em> of the record.</td>
            <td style="text-align:left">33BFF6QPI1YEFYISIWWDVQKGH8RW3Z</td>
        </tr>
        </tbody>
    </table>
    <p><strong>Method</strong> : <code>GET</code></p>
    <p><strong>Data constraints</strong> : <code>hid</code> should be <code>string</code> type</p>
    <p><strong>Example Request</strong>:
        <code>GET http://127.0.0.1:5000/api/query/hid/33BFF6QPI1YEFYISIWWDVQKGH8RW3Z</code></p>
    <h4 id="success-responses">Success Responses</h4>
    <p><strong>Condition</strong> : Exists a record with the given HID.</p>
    <p><strong>Code</strong> : <code>200 OK</code></p>
    <p><strong>Response Type</strong>: json</p>
    <p><strong>Response Content Example</strong> :</p>
    <pre><code class="lang-json">{
      <span class="hljs-attr">"result"</span>: {
            <span class="hljs-attr">"hid"</span>: <span class="hljs-string">"33BFF6QPI1YEFYISIWWDVQKGH8RW3Z"</span>,
            <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Landmark Center, 8th Fl"</span>,
            <span class="hljs-attr">"has_space"</span>: <span class="hljs-literal">false</span>
      }
    }
    </code></pre>
    <h4 id="failed-responses">Failed Responses</h4>
    <p><strong>Condition</strong>: Fail to find a record with the given HID.</p>
    <p><strong>Code</strong>: <code>404 Not Found</code></p>
    <p><strong>Response Type</strong>: json
        <strong>Response Content Example</strong> :</p>
    <pre><code class="lang-json">{
      <span class="hljs-attr">"message"</span>: <span class="hljs-string">"[Err] 404 Not Found."</span>,
      <span class="hljs-attr">"status"</span>: <span class="hljs-number">404</span>
    }
    </code></pre>
    <h2 id="getting-started">Getting Started</h2>
    <h3 id="prerequisites">Prerequisites</h3>
    <ul>
        <li>Install Virtualenv
            <pre><code class="lang-commandline">pip <span class="hljs-keyword">install</span> virtualenv
    </code></pre>
        </li>
    </ul>
    <h3 id="installing">Installing</h3>
    <p>Under the project directory</p>
    <ul>
        <li>Create the virtual environment
            <pre><code class="lang-commandline"><span class="hljs-attribute">virtualenv</span> ./
    </code></pre>
        </li>
        <li>Activate the virtual environment
            <pre><code class="lang-commandline"><span class="hljs-keyword">source</span> .<span class="hljs-regexp">/bin/</span>activate
    </code></pre>
        </li>
        <li>install dependencies
            <pre><code class="lang-commandline">pip <span class="hljs-keyword">install</span> -r requirements.txt
    </code></pre>
        </li>
    </ul>
    <h3 id="configuration">Configuration</h3>
    <ul>
        <li>Initialize the database
            <pre><code class="lang-commandline">python manage<span class="hljs-selector-class">.py</span> init
    </code></pre>
        </li>
        <li>Migrate the database
            <pre><code class="lang-commandline">python manage<span class="hljs-selector-class">.py</span> migrate
    </code></pre>
        </li>
        <li>Upgrade the database
            <pre><code class="lang-commandline">python manage<span class="hljs-selector-class">.py</span> upgrade
    </code></pre>
        </li>
    </ul>
    <h3 id="start">Start</h3>
    <p>Under the project directory</p>
    <ul>
        <li>Start server
            <pre><code class="lang-commandline">python manage<span class="hljs-selector-class">.py</span> runserver
    </code></pre>
        </li>
    </ul>

</div>
</body>
</html>